@media (max-width: 767px) {
    header { padding: 30px; }

    #header__container__menu__text { display: block; }
    #header__container__menu__input { display: none; }
    #header__container__list { display: none; gap: 30px; }

    #header__container__menu__input:checked ~ #header__container__list {
        background-color: whitesmoke;
        box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.501);
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 85px; left: 0; padding-block: 30px;
        width: 100%;
        text-align: center;
    }

    #header__container__menu__input:checked ~ #header__container__list > li > a { font-weight: bold; color: black; }
    #header__container > a { font-size: 20px; }
    #header__container__list > li > a { font-size: 17px; }
    #header__container__list > li:nth-child(5) > a { padding: 15px }
    #header__container__list > li:nth-child(6) > a { padding: 15px }
}

@media (min-width: 768px) and (max-width: 991px) {
    header { padding: 30px 50px; }

    #header__container__menu__text { display: none; }
    #header__container__menu__input { display: none; }
    #header__container__list { display: flex; gap: 30px; }

    #header__container > a { font-size: 20px; }
    #header__container__list > li > a { font-size: 17px; }
    #header__container__list > li:nth-child(5) > a { padding: 15px }
    #header__container__list > li:nth-child(6) > a { padding: 15px }
}

@media (min-width: 992px) and (max-width: 1999px) {
    header { padding: 30px 100px; }

    #header__container__menu__text { display: none; }
    #header__container__menu__input { display: none; }
    #header__container__list { display: flex; gap: 30px; }

    #header__container > a { font-size: 20px; }
    #header__container__list > li > a { font-size: 17px; }
    #header__container__list > li:nth-child(5) > a { padding: 15px }
    #header__container__list > li:nth-child(6) > a { padding: 15px }
}

@media (min-width: 1200px) and (max-width: 1399) {
    header { padding: 30px 100px; }

    #header__container__menu__text { display: none; }
    #header__container__menu__input { display: none; }
    #header__container__list { display: flex; gap: 30px; }

    #header__container > a { font-size: 20px; }
    #header__container__list > li > a { font-size: 17px; }
    #header__container__list > li:nth-child(5) > a { padding: 15px }
    #header__container__list > li:nth-child(6) > a { padding: 15px }
}

@media (min-width: 1400px) {
    header { padding: 30px 150px; }

    #header__container__menu__text { display: none; }
    #header__container__menu__input { display: none; }
    #header__container__list { display: flex; gap: 30px; }

    #header__container > a { font-size: 20px; }
    #header__container__list > li > a { font-size: 17px; }
    #header__container__list > li:nth-child(5) > a { padding: 15px }
    #header__container__list > li:nth-child(6) > a { padding: 15px }
}

header {
    background-color: black;
    position: sticky; top: 0; left: 0;
    width: 100%; z-index: 1;
}

#header__container {
    display: flex;
    justify-content: space-between;
}

#header__container__menu {
    display: flex;
    align-items: center;
}

#header__container > a {
    color: white;
}

#header__container__menu__text {
    color: white;
}

#header__container__list > li > a {
    color: white;
}

#header__container__list > li:nth-child(5) > a {
    background-color: cornflowerblue;
    border-radius: 5px;
}

#header__container__list > li:nth-child(6) > a {
    background-color: whitesmoke;
    border-radius: 5px;
    color: black;
}